<footer>
<div class="row footer-up">
    <div class="container">
        <!--Footer Menu-->
        <div class="col-8 footerMenu">
            <ul>
                <li><a href="/Section/أخبار-عاجلة/65/1"> عاجل </a></li>
                <li><a href="/Section/سياسة/319/1"> سياسة </a></li>
                <li><a href="/Section/تقارير-مصرية/97/1"> تقارير </a></li>
                <li><a href="/Section/حوادث/203/1"> حوادث </a></li>
                <li><a href="/Section/أخبار-المحافظات/296/1"> محافظات </a></li>

                <li><a href="/Section/تحقيقات-وملفات/12/1"> تحقيقات </a></li>
                <li><a href="/Section/أخبار-الرياضة/298/1"> رياضة </a></li>
                
                     
                <li><a href="/Section/اقتصاد-وبورصة/297/1"> اقتصاد وبورصة </a></li>
                <li><a href="/Section/أخبار-عربية/88/1"> عرب </a></li>
                <li><a href="/Section/أخبار-عالمية/286/1"> عالم </a></li>
                <li><a href="/Section/كاريكاتير-اليوم/192/1"> كاريكاتير </a></li>
                <li><a href="/Section/فن/48/1"> فن </a></li>
                <li><a href="/Section/تليفزيون/251/1"> تليفزيون </a></li>
                <li><a href="/Section/ثقافة/94/1"> ثقافة </a></li>
                <li><a href="/Section/المرأة-والمنوعات/89/1"> مرأة و منوعات </a></li>
                <li><a href="/Section/صحة-وطب/245/1"> صحة </a></li>
                <li><a href="/Section/ألبومات-اليوم-السابع/291/1"> ألبومات </a></li>
                <li><a href="/Editor/Alleditors"> مقالات </a></li>
                <li><a href="/Section/علوم-و-تكنولوجيا/328/1"> تكنولوجيا </a></li>
                <li><a href="/Section/فيديو-7/355/1">فيديو 7</a></li>
                

            </ul>
        </div>
        <div class="col-4 social-footer">
            <a href="https://www.youm7.com/" class="footer-logo">
                <img src="../../../assets/images/Logo-footer-2.png" alt="اليوم السابع" title="اليوم السابع" class="img-responsive">
            </a>
            <br>
            <div class="newFooterMenu">
                <a href="/AboutUs">من نحن</a>
                <a href="/privacy">سياسة الخصوصية</a>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom row">
    <div class="container copyRights">
        <!--CopyRights-->
        <div class="col-4 ">
            <div class="copyright">© 2022 حقوق النشر محفوظة لـ<h1>اليوم السابع</h1></div>
        </div>
        <div class="col-4">
            <div class="social-new-ico">
                <!--facebook-->
                <a rel="nofollow" target="_blank" href="http://www.facebook.com">
                    <img src="../../../assets/images/icons/Facebook-c.png" alt="اليوم السابع" title="اليوم السابع" class="img-responsive">
                </a>
                <!--twitter-->
                <a rel="nofollow" target="_blank" href="http://twitter.com">
                    <img src="../../../assets/images/icons/Twitter-c.png" alt="اليوم السابع" title="اليوم السابع" class="img-responsive">
                </a>

                <!--instagram-->
                <a rel="nofollow" target="_blank" href="http://instagram.com">
                    <img src="../../../assets/images/icons/Instagram-c.png" alt="اليوم السابع" title="اليوم السابع" class="img-responsive">
                </a>
                <!--youtube-->
                <a rel="nofollow" target="_blank" href="http://www.youtube.com">
                    <img src="../../../assets/images/icons/Youtube-c.png" alt="اليوم السابع" title="اليوم السابع" class="img-responsive">
                </a>
                <!--rss-->
                <a target="_blank" href="/rss/rss">
                    <img src="../../../assets/images/icons/RSS-c.png" alt="اليوم السابع" title="اليوم السابع" class="img-responsive">
                </a>
                <!--ios-->
                <a rel="nofollow" target="_blank" href="https://itunes.apple.com">
                    <img src="../../../assets/images/icons/Apple-c.png" alt="اليوم السابع" title="اليوم السابع" class="img-responsive">
                </a>
                <!--android-->
                <a rel="nofollow" target="_blank" href="https://play.google.com/store/apps/details?id=com.youm7.news&amp;hl=en">
                    <img src="../../../assets/images/icons/Android-c.png" alt="اليوم السابع" title="اليوم السابع" class="img-responsive">
                </a>
                
                <a rel="nofollow" target="_blank" href="https://appgallery.cloud.huawei.com/ag/n/app/C100093169?locale=en_US&amp;source=appshare&amp;subsource=C100093169">
                    <img src="../../../assets/images/icons/huaweiicon.png" alt="هواوى" title="هواوى" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="createdBy">
                
                <div class="clicksegypt">
                   
                    <p>تم التصميم والتطوير بواسطة</p>
                @Mo7med_hasan5
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>

