<header>
  <nav class="nav-up">
    <div class="container">
      <div class="nav-up-right">
        <div class="nav-up-right-logo">
          <a [routerLink]="['/']" routerLinkActive="router-link-active"><img src="../../../assets/images/logo-youm7.png"
              alt="logo youm7" id="logo-youm7" /></a>
        </div>
        <div class="nav-up-right-logo-Advertising">
          <a [routerLink]="['/']" routerLinkActive="router-link-active"><img
              src="../../../assets/images/Logo-Advertising-to-youm7.png" alt="Logo Advertising to youm7" /></a>
        </div>
      </div>
      <div class="nav-up-left">
        <div class="nav-up-left-calender">
          <fa-icon [icon]="calendarIcon"></fa-icon> &nbsp; {{dateString}}
        </div>
        &nbsp;
        <div class="nav-up-left-clock">
          <fa-icon [icon]="ClockIcon" size="lg"></fa-icon>&nbsp;{{timeString}}&nbsp;<span
            id="location-cairo">القاهرة</span>
        </div>

      </div>
    </div>
  </nav>
  <nav class="nav-down">
    <div class="container">
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <fa-icon [icon]="barsIcon"></fa-icon>
      </label>
      <div class="nav-down-content-sm">

        <div class="content-sm-img">
          <a [routerLink]="['/']" routerLinkActive="router-link-active"> <img
              src="../../../assets/images/logo-youm7- World-Youth-Forum.png" alt="logo youm7  World Youth Forum"></a>
        </div>
        <div class="content-sm-img">
          <a [routerLink]="['/']" routerLinkActive="router-link-active"> <img
              src="../../../assets/images/رئيس التحرير اكرم القصاص.png" alt="logo youm7  World Youth Forum"
              srcset=""></a>
        </div>
        <div class="content-sm-icon">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </div>
        <div class="content-sm-icon">
          <fa-icon [icon]="desktopIcon"></fa-icon>
        </div>
      </div>
      <ul class="c-menu__items">
        <li class="c-menu__close"><label for="click" class="menu-btn c-menu__close">
            اغلق القائمة</label></li>
        <li class="c-menu__item menu__lg">
          <h2><a href="/"><span class="iconHome">
                <fa-icon [icon]="homeIcon"></fa-icon>
              </span>الرئيسية </a></h2>
        </li>
        <li class="c-menu__item menu__lg">
          <h2><a href="/Section/أخبار-عاجلة/65/1"> عاجل </a></h2>
        </li>
        <li class="c-menu__item menu__lg">
          <h2><a href="/Section/سياسة/319/1"> سياسة </a></h2>
        </li>
        <li class="c-menu__item menu__lg">
          <h2><a href="/Section/تقارير-مصرية/97/1"> تقارير </a></h2>
        </li>
        <li class="c-menu__item menu__lg">
          <h2><a href="/Section/حوادث/203/1"> حوادث </a></h2>
        </li>
        <li class="c-menu__item menu__lg">
          <h2><a href="/Section/أخبار-المحافظات/296/1"> محافظات </a></h2>
        </li>
        <li class="c-menu__item menu__lg">
          <h2><a href="/Section/تحقيقات-وملفات/12/1"> تحقيقات </a></h2>
        </li>
        <li class="c-menu__item menu__lg">
          <h2><a href="/Section/أخبار-الرياضة/298/1"> رياضة </a></h2>
        </li>
        <li class="c-menu__item menu__lg">
          <h2><a href="/Section/كرة-عالمية/332/1"> كرة عالمية </a></h2>
        </li>
        <li class="show-more"id="more">

          <a href="#" class="show-more" >المزيد</a>

          <ul class="dropdown_item">
            <li class="c-menu__item ">
              <h2><a href="/Section/اقتصاد-وبورصة/297/1"> اقتصاد وبورصة </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/أخبار-عربية/88/1"> عرب </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/أخبار-عالمية/286/1"> عالم </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/كاريكاتير-اليوم/192/1"> كاريكاتير </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/فن/48/1"> فن </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/تليفزيون/251/1"> تليفزيون </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/ثقافة/94/1"> ثقافة </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/المرأة-والمنوعات/89/1"> مرأة و منوعات </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/صحة-وطب/245/1"> صحة </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/ألبومات-اليوم-السابع/291/1"> ألبومات </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Editor/AllEditors"> مقالات </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/علوم-و-تكنولوجيا/328/1"> تكنولوجيا </a></h2>
            </li>
            <li class="c-menu__item ">
              <h2><a href="/Section/فيديو-7/355/1">فيديو 7</a></h2>
            </li>

          </ul>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/اقتصاد-وبورصة/297/1"> اقتصاد وبورصة </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/أخبار-عربية/88/1"> عرب </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/أخبار-عالمية/286/1"> عالم </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/كاريكاتير-اليوم/192/1"> كاريكاتير </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/فن/48/1"> فن </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/تليفزيون/251/1"> تليفزيون </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/ثقافة/94/1"> ثقافة </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/المرأة-والمنوعات/89/1"> مرأة و منوعات </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/صحة-وطب/245/1"> صحة </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/ألبومات-اليوم-السابع/291/1"> ألبومات </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Editor/AllEditors"> مقالات </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/علوم-و-تكنولوجيا/328/1"> تكنولوجيا </a></h2>
        </li>
        <li class="c-menu__item hidden">
          <h2><a href="/Section/فيديو-7/355/1">فيديو 7</a></h2>
        </li>

      </ul>
    </div>
  </nav>





</header>
